<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Chatroom!</title>
    </head>
    <body>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <form id="chat-form">
                        <div class="form-group">
                            <label for="formControlTextarea" class="h4 pt-5">Chatroom</label>
                            <textarea class="form-control" id="chat-text" rows="10"></textarea><br>
                        </div>
                        <em><span id="typing"></span></em>
                        <div class="form-group">
                            <input class="form-control" id="input" type="text"><br>
                        </div>
                        <button class="btn btn-secondary btn-lg btn-block" id="submit" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>

        {{ pk|json_script:"pk" }}
        {{ request.user.username|json_script:"username" }}
        <script>
            let timer = null 

            document.querySelector("#chat-form").addEventListener("submit", function(e) {
                e.preventDefault()
                const messageInputDom = document.querySelector("#input")
                const message = messageInputDom.value
                if(message !== "") {
                    chatSocket.send(JSON.stringify({
                        "type": "MESSAGE",
                        "message": message,
                        "username": username,
                    }))
                    messageInputDom.value = ""
                }
            })

            document.querySelector("#input").onkeyup = function(e) {
                const regex = new RegExp("^[a-zA-Z0-9]+$")
                const key = String.fromCharCode(!e.charCode ? e.which : e.charCode)
                if(regex.test(key)) {
                    clearTimeout(timer)
                    timer = setTimeout(function() {
                        chatSocket.send(JSON.stringify({
                            "type": "NOT_TYPING"
                        }))
                    }, 800)

                    chatSocket.send(JSON.stringify({
                        "type": "TYPING",
                        "message": username + " is typing...",
                        "username": username,
                    }))
                }
            }

            const pk = JSON.parse(document.getElementById("pk").textContent)
            const username = JSON.parse(document.getElementById("username").textContent)
            const chatSocket = new WebSocket(
                "ws://" +
                window.location.host +
                "/ws/chat/" +
                pk +
                "/"
            )

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data)
                console.log(data)
                if(data.type === "TYPING") {
                    document.querySelector("#typing").innerHTML = data.message
                    return
                }

                if(data.type === "NOT_TYPING") {
                    document.querySelector("#typing").innerHTML = ""
                    return
                }

                if("username" in data) {
                    document.querySelector("#chat-text").value += (data.username + "  " + data.message + "\n")
                } 
                else {
                    document.querySelector("#chat-text").value += (data.message + "\n")
                }
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
